@{
    ViewData["Title"] = "Home Page";
}

    <h1>
        A Web API protected with ASP.NET Core using the Microsoft identity platform 
    </h1>
    <p>
        This sample shows how to secure a Web API built with ASP.NET Core using the Microsoft identity platform.
    </p>
